/**
 * global
 * -------------------------------------------------------------------------- */
.markdown-body {
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  padding: 40px;
  position: relative;
}
/**
 * Headings
 * -------------------------------------------------------------------------- */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  font-weight: 600;
  outline: none;
  color: var(--vp-c-text-1);
}

.markdown-body h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.markdown-body h2 {
  margin: 48px 0 0;
  border-top: 1px solid var(--vp-c-divider-light);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.markdown-body h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.markdown-body .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 0;
  transition: color 0.25s, opacity 0.25s;
}

.markdown-body h1:hover .header-anchor,
.markdown-body h1 .header-anchor:focus,
.markdown-body h2:hover .header-anchor,
.markdown-body h2 .header-anchor:focus,
.markdown-body h3:hover .header-anchor,
.markdown-body h3 .header-anchor:focus,
.markdown-body h4:hover .header-anchor,
.markdown-body h4 .header-anchor:focus,
.markdown-body h5:hover .header-anchor,
.markdown-body h5 .header-anchor:focus,
.markdown-body h6:hover .header-anchor,
.markdown-body h6 .header-anchor:focus {
  opacity: 1;
}

@media (min-width: 768px) {
  .markdown-body h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

/**
  * Paragraph and inline elements
  * -------------------------------------------------------------------------- */

.markdown-body p,
.markdown-body summary {
  margin: 16px 0;
}

.markdown-body p {
  line-height: 28px;
}

.markdown-body blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--vp-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
}

.markdown-body blockquote > p {
  margin: 0;
  font-size: 16px;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

.markdown-body a {
  font-weight: 500;
  color: var(--vp-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.markdown-body a:hover {
  color: var(--vp-c-brand-dark);
}

.markdown-body strong {
  font-weight: 600;
}

/**
  * Lists
  * -------------------------------------------------------------------------- */

.markdown-body ul,
.markdown-body ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body li + li {
  margin-top: 8px;
}

.markdown-body li > ol,
.markdown-body li > ul {
  margin: 8px 0 0;
}

/**
  * Table
  * -------------------------------------------------------------------------- */

.markdown-body table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

.markdown-body tr {
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}

.markdown-body tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.markdown-body th,
.markdown-body td {
  border: 1px solid var(--vp-c-divider);
  padding: 12px 16px;
}

.markdown-body th {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--vp-c-white-soft);
}

.dark .markdown-body th {
  background-color: var(--vp-c-black);
}

/**
  * Decorational elements
  * -------------------------------------------------------------------------- */

.markdown-body hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider-light);
}

/**
  * Custom Block
  * -------------------------------------------------------------------------- */

.markdown-body .custom-block {
  margin: 16px 0;
}

.markdown-body .custom-block p {
  margin: 8px 0;
  line-height: 24px;
}

.markdown-body .custom-block p:first-child {
  margin: 0;
}

.markdown-body .custom-block a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  transition: opacity 0.25s;
}

.markdown-body .custom-block a:hover {
  opacity: 0.6;
}

.markdown-body .custom-block code {
  font-size: var(--vp-custom-block-code-font-size);
  font-weight: 700;
  color: inherit;
}

.markdown-body .custom-block div[class*='language-'] {
  margin: 8px 0;
}

.markdown-body .custom-block div[class*='language-'] code {
  font-weight: 400;
  background-color: var(--vp-code-block-bg);
}

/**
  * Code
  * -------------------------------------------------------------------------- */

/* inline code */
.markdown-body :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
}

.markdown-body :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--vp-c-text-code);
  background-color: var(--vp-c-bg-mute);
  transition: color 0.5s, background-color 0.5s;
}

.markdown-body h1 > code,
.markdown-body h2 > code,
.markdown-body h3 > code {
  font-size: 0.9em;
}

.markdown-body a > code {
  color: var(--vp-c-brand);
  transition: color 0.25s;
}

.markdown-body a:hover > code {
  color: var(--vp-c-brand-dark);
}

.markdown-body div[class*='language-'] {
  position: relative;
  margin: 16px -24px;
  background-color: var(--vp-code-block-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  .markdown-body div[class*='language-'] {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  .markdown-body li div[class*='language-'] {
    border-radius: 8px 0 0 8px;
  }
}

.markdown-body div[class*='language-'] + div[class*='language-'],
.markdown-body div[class$='-api'] + div[class*='language-'],
.markdown-body
  div[class*='language-']
  + div[class$='-api']
  > div[class*='language-'] {
  margin-top: -8px;
}

.markdown-body [class*='language-'] pre,
.markdown-body [class*='language-'] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-family: var(--vp-font-family-mono);
}

.markdown-body [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 16px 0;
  background: transparent;
  overflow-x: auto;
}

.markdown-body [class*='language-'] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
}

.markdown-body .highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 16px;
  width: 100%;
  line-height: var(--vp-code-line-height);
  font-family: var(--vp-font-family-mono);
  font-size: var(--vp-code-font-size);
  user-select: none;
  overflow: hidden;
}

.markdown-body .highlight-lines .highlighted {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
}

.markdown-body div[class*='language-'].line-numbers-mode {
  padding-left: 32px;
}

.markdown-body div[class*='language-'].line-numbers-mode pre {
  padding-left: 16px;
}

.markdown-body .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-right: 1px solid var(--vp-c-divider-dark-2);
  padding-top: 16px;
  width: 32px;
  text-align: center;
  font-family: var(--vp-font-family-mono);
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-line-number-color);
  transition: border-color 0.5s, color 0.5s;
}

.markdown-body [class*='language-'] > span.copy {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-block-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: opacity 0.25s;
}

.markdown-body [class*='language-']:hover > span.copy {
  opacity: 1;
}

.markdown-body [class*='language-'] > span.copy:hover {
  background-color: var(--vp-code-copy-code-hover-bg);
}

.markdown-body [class*='language-'] > span.copy.copied,
.markdown-body [class*='language-'] > span.copy:hover.copied {
  border-radius: 0 4px 4px 0;
  background-color: var(--vp-code-copy-code-hover-bg);
  background-image: var(--vp-icon-copied);
}

.markdown-body [class*='language-'] > span.copy.copied::before,
.markdown-body [class*='language-'] > span.copy:hover.copied::before {
  position: relative;
  left: -65px;
  display: block;
  border-radius: 4px 0 0 4px;
  padding-top: 8px;
  width: 64px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-code-copy-code-active-text);
  background-color: var(--vp-code-copy-code-hover-bg);
  white-space: nowrap;
  content: 'Copied';
}

.markdown-body [class*='language-']:before {
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-c-text-dark-3);
  transition: color 0.5s, opacity 0.5s;
}

.markdown-body [class*='language-']:hover:before {
  opacity: 0;
}

.markdown-body [class~='language-c']:before {
  content: 'c';
}
.markdown-body [class~='language-css']:before {
  content: 'css';
}
.markdown-body [class~='language-go']:before {
  content: 'go';
}
.markdown-body [class~='language-html']:before {
  content: 'html';
}
.markdown-body [class~='language-java']:before {
  content: 'java';
}
.markdown-body [class~='language-javascript']:before {
  content: 'js';
}
.markdown-body [class~='language-js']:before {
  content: 'js';
}
.markdown-body [class~='language-json']:before {
  content: 'json';
}
.markdown-body [class~='language-jsx']:before {
  content: 'jsx';
}
.markdown-body [class~='language-less']:before {
  content: 'less';
}
.markdown-body [class~='language-markdown']:before {
  content: 'md';
}
.markdown-body [class~='language-md']:before {
  content: 'md';
}
.markdown-body [class~='language-php']:before {
  content: 'php';
}
.markdown-body [class~='language-python']:before {
  content: 'py';
}
.markdown-body [class~='language-py']:before {
  content: 'py';
}
.markdown-body [class~='language-rb']:before {
  content: 'rb';
}
.markdown-body [class~='language-ruby']:before {
  content: 'rb';
}
.markdown-body [class~='language-rust']:before {
  content: 'rust';
}
.markdown-body [class~='language-sass']:before {
  content: 'sass';
}
.markdown-body [class~='language-scss']:before {
  content: 'scss';
}
.markdown-body [class~='language-sh']:before {
  content: 'sh';
}
.markdown-body [class~='language-bash']:before {
  content: 'sh';
}
.markdown-body [class~='language-stylus']:before {
  content: 'styl';
}
.markdown-body [class~='language-vue-html']:before {
  content: 'template';
}
.markdown-body [class~='language-typescript']:before {
  content: 'ts';
}
.markdown-body [class~='language-ts']:before {
  content: 'ts';
}
.markdown-body [class~='language-tsx']:before {
  content: 'tsx';
}
.markdown-body [class~='language-vue']:before {
  content: 'vue';
}
.markdown-body [class~='language-yaml']:before {
  content: 'yaml';
}
